.ui.topbar.container {
    padding-top: 1em;
}

.ui.topbar.container .dropdown > .menu {
    width: 240px;
}

.ui.text.container {
    pointer-events: none;
}

@keyframes rotation-flower{
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
}

.ui.inverted.segment.masthead.gradient {
    background: rgb(20, 108, 190);
    background: linear-gradient(0deg, rgb(20, 108, 190) 0%, rgb(16, 130, 175) 100%);
}

.masthead.segment {
    padding: 0em 0em 2em 0em;
}

.masthead h1.ui.header {
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: bold;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
    margin: 0 0 1.5em;
}

.masthead a.button {
    pointer-events: all;
    position: relative;
    z-index: 2;
    margin-bottom: 0.6em;
}

.ui.secondary.inverted.pointing.menu {
    border: 0 none;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}

.ui.vertical.stripe h3 {
    font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
    clear: both;
}

.ui.vertical.stripe .image img {
    max-width: 220px;
}

.ui.vertical.stripe p {
    font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.footer.segment {
    padding: 4em 0em;
}

#sunflower {
    width: 320px;
    height: 320px;
    margin: 10px auto -20px;
}

@media only screen and (max-width: 640px) {

    .masthead.segment {
        padding: 0em 0em 1em 0em;
    }
    .masthead h1.ui.header {
        font-size: 2em;
    }
    .masthead h2 {
        margin-top: 0em;
        font-size: 1.2em;
    }
    .ui.vertical.stripe p {
        font-size: 1.15em;
    }
    .stackable.cards.link {
        padding: 2em;
    }
    .ui.vertical.stripe {
        padding: 4em 0em;
    }
    .footer.segment {
        padding: 2em 0em;
    }
    #sunflower {
        width: 180px;
        height: 180px;
        margin: 0 auto -10px;
    }
}
